* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 40px;
    background: -webkit-linear-gradient(#29e9f7, hsl(96, 58%, 57%));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}
img {width: 200px;
margin: 20px;
}

#Temu { background-color: red;}

button {
    background-color: #1bd81b;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}
.box {
    width: 100px;
    height: 100px;
    background-color: #1bd81b;
    margin: 30px;
    color: aliceblue;
    padding: 30px;
    border: rebeccapurple;
    font-size: 20px;
}